<!DOCTYPE html>
<html lang = "en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
<header id="header">
    <div class="logo"><a href="">Roomie Budget Tracker</a> </div>
    <div class="hamburger" id="toggle">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <nav class="nav-bar" id="navbar">
        <ul>
            <li>
                <a href="index.html" class="active">Home</a>
            </li>
            <li>
                <a href="#product">Add Bill</a>
            </li>
            <li>
                <a href="#about">About Us</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <div class="login">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit"  class="navlogin active">Logout</button>
                    </form>
                </li>
            </div>
        </ul>
    </nav>
</header>
        <div class="account-address">
       <p
               th:if="${address.address1 != null}"
               th:text=" 'Welcome: ' + ${address.address1}"

       ></p>
        </div>




<P th:if="${account.email != null}"
   th:text="${account.email}"

       class="nav-item nav-link px-2 me-3">

</P>
<script src="javascript/index.js"></script>
<script>
function myLogout() {
  location.href = "/logout";
}
</script>
</body>

</html>