<!DOCTYPE html>
<html lang = "en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <!--<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <header id="header">
        <div class="logo"><a href="">Roomie Budget Tracker</a> </div>
        <div class="hamburger" id="toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar" id="navbar">
            <ul>
                <!-- This area is for header home, login, contacts etccc-->

            </ul>
        </nav>
    </header>
    <div class="container" id="home">
        <div class="login-left">
            <div class="login-header">
                <h1>Welcome</h1>
                <!--<p>Please login </p>-->
            </div>
            <form th:action="@{/login}" method="post" class="login-form" autocomplete="off">
                <div class="login-content">
                    <div class="form-item">
                        <label for="email">Enter Email</label>
                        <input id="email" th:name="email" type="email"  placeholder="example@email.com">
                    </div>
                    <div class="form-item">
                        <label for="password">Enter Password</span></label>
                        <label for="text"></label>
                        <input id="password" type="password" th:name="password"  placeholder="Enter your Password" required class="pass-key">
                        <!--<img src="eye-close.png" id="eyeicon" class="password-toggle">-->
                        <!-- <span class="show">Show</span> -->
                    </div>
                    <!--<div class="form-item">
                        <div class="checkbox">
                            <input type="checkbox" name="" id="rememberMeCheckbox" checked>
                            <label for="rememberMeCheckbox" class="checkboxlabel">Remember Me</label>
                        </div>-->
                    <!--</div>-->
                    <!--<div class="remember-forgot">
                        <a href="#">Forgot password?</a>
                    </div>-->

                    <div class="bg-grey">
                        <div class="sing-up">Don't have an account? <a th:href="@{/register}"class="text-link" >Sign up</a></div>
                        <!--<a href="#register" class="link-register">Sign Up</a>-->
                    </div>
    
                    <button type="submit">Log in</button>
                </div>
                <!--<div class="login-footer">
                    <a href="">
                        <img width="30" src="https://img.icons8.com/color/512/facebook-new.png" alt="facebook">Facebook
                    </a>
                    <a href="">
                        <img width="30" src="https://img.icons8.com/fluency/512/google-logo.png" alt="google">Google
                    </a>
                </div>-->
            </form>
        </div>
        <div class="login-right">
            <img th:src = "@{/images/indexImage.png}" alt="">
        </div>
    </div>

    <script>
		let eyeicon = document.getElementById("eyeicon");
		let password = document.getElementById("password");

		eyeicon.onclick = function() {
			if (password.type == "password"){
				password.type = "text"; 
				eyeicon.src = "eye-open.png";
			}else{
				password.type = "password";
				eyeicon.src = "eye-close.png";
			}
		} 
	</script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>